
#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;

}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 2.5rem;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: montserrat;
}


.download-button {
    margin: 5% 3% 5% 0;
}
.down-button {
    margin: 0 3% 5% 0 ;
}
.iphone {
   
    transform: rotate(25deg);
    position: absolute;
    width: 30%;
    padding: 0 2em 0 7rem;
    
}

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.mid-img{
    color: #ef8172;
    font-size: 4rem;
    padding: 2rem;
    
}

.mid-img:hover{
    color: #ff4c68;
}

p{
    color: #8f8f8f;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family: 'montserrat';
    font-size: 2rem;
    
}
.carousel-item{
    padding: 7% 15%;
}
.dog-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px 20px 20px 0;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    text-align: center;
    padding: 7% 15%;
}
.pricing-col{
    padding: 3%;
}

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 4%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
}

.last{
    font-size: 3.5rem;
    color: #fff;
    padding: 3% 5%;

}

footer{
    text-align: center;
    padding: 7% 15%;
}
i{
    margin: 0.8rem;
    font-size: 1.5rem;
}
.btn-dark{
    background-color: 101010;
}
.btn-dark:hover{
    background-color:black;
}
.btn-light:hover{
    background-color: #fff;
}
.foot-face:hover{
    color: #4267B2;
}
.foot-tweet:hover{
    color: #1DA1F2;
}
.foot-insta:hover{
    background: #fff;
    color: #f6249f;
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
.foot-env:hover{
    color: rgb(194, 62, 29);
}
em{
    font-size: x-large;
}

@media (max-width:1111px){
    .iphone{
        position: static;
        transform: rotate(0);
        width: 100%;
    }
}
@media (max-width:1015px){
    .iphone{
        position: static;
        transform: rotate(0);
        width: 90%;
        float: right;
        padding-top: 30%;
        padding-right: 0;
        margin-right: 0px;
    }
}
@media (max-width:575){
    .iphone{
        position: static;
        transform: rotate(0);
        
    }

}
